*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --blue-native: #04044e;
    --soft-white: #f3f3f7;
}

html{
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
}

.body__main{
    /* Esto sirve para que nuestra página no pueda hacer scroll */
    font-size: 1.6rem;

    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.body__blogs{
    font-size: 1.6rem;

}
a{
    /* para quitar las rayas de abajo */
    text-decoration: none;
    display: inline;
}

header{
    width: 100%;
    height: 120px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header__icons--container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--blue-native);
}


header .header__icons--container .icons{
    width: 250px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    margin-right: 3rem;
    justify-self: end;
}

header .icons span{
    color: white;
    font-size: 2.8rem;
}

header nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 7rem;
    background-color: var(--soft-white);
}

header nav .nav__logo--container{
    margin-left: 5rem;
}


nav .profile__link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5rem;
}

.nav__logo--container{
    display: flex;
    align-items: center;
}

.nav__logo--container img{
    border-radius: 50%;
    width: 3rem;
    align-self: center;
}

nav .profile__link a{
    color: var(--blue-native);
    border-bottom: solid black 1px;
}
.home__main{
    background-image: url('../assets/img/PIA15658_orig.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.home__main .main__container{
    padding-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.home__main .main__container--text{
    text-align: center;
    width: 100%;
}


.home__main .main__container--text h2{
    width: 100%;
    color: var(--soft-white);
    font-size: 2.8rem;
}

.home__main .main__container--button{
    width: 25%;
    min-width: 114px;
    max-width: 180px;
    height: 5rem;
    background-color: rgba(4, 4, 78, 0.5);
    border: #f3f3f7 solid 0.5px;
    padding: 8px 15px;
    border-radius: 4pc;
    outline: none;
    cursor: pointer;
}


.home__main .main__container--button a{
    color: var(--soft-white);
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
}

.blogs__main{
    display: grid;
}

.blogs__newest--container{
    background-color: #dddded;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.newest-blog__img--container{
    width: 100%;
    padding: 2rem 2rem;
}
.newest-blog__img--container img{
    padding-top: 1rem;
    width: 100%;
}

.blogs__news--container{
    display: flex;
    padding: 3rem 1rem;
    margin-right: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
}

.blogs__button{
    padding: 10px 15px;
    border: 1px solid var(--blue-native);
    color: var(--blue-native);

}

.blogs__post--container .title{
    margin: 0 auto;
    width: 90%;
    padding-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
    border-bottom: #dddded 1px solid;
}


.blogs__post--container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 90%;
    margin: 0 auto;
}
.blogs__post--container .post__container{
    display: inline-block;
    padding-left: 1rem;
    max-width: 30%;
    margin-bottom: 50px;
}
.blogs__post--container .post__container p{
    margin-bottom: 3.5px;
}

.blogs__post--container .post__container img{
    width: 100%;

}

footer{
    border-top: 2rem solid var(--soft-white);
    background-color: var(--blue-native);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--soft-white);
}
